body
{
    background-image:
    linear-gradient(to bottom, rgba(68, 68, 68, 0.52), rgba(117, 19, 93, 0.73)),
    url('images/mainbg.jpg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.form-box
{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 350px;
    height: min-content;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.438);
    padding: 20px;
}

.img
{
    height: 70px;
    width: 70px;
    object-position: center;
    object-fit: contain;
}